
body{
    font-family: Montserrat, sans-serif;
}

#title{
    background-color: #ff4c68 ;
    color: white
}

.container-fluid{
    padding: 3% 15% 7%

}

h1,h2,h3, .navbar-brand, .nav-link, #cta, #footer{
    font-family: Montserrat, sans-serif;
}

h1,h2,h3, .cta-title{
    line-height: 1.5;
}

h1{
    font-weight: 900;
    font-size: 3.5rem;
}

h2{
    font-weight: bold;
    font-size: 3rem;
}

h3{
    font-weight: bold;
    font-size: 1.5rem;
}

P{
    color: #8f8f8f;
}


.navbar-brand{
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 2.5rem;
}

.navbar{
    padding-bottom:4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: light;
}

#features, #cta{
    padding: 7% 15%
}

.iphone{
    transform: rotate(25deg);
    position: absolute;
    left: 55%;

}

.download{
    margin: 5% 3% 5% 0;
}

.features-row{
    text-align: center;
}

#features{
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.icons{
    font-size: 6rem;
    padding-bottom: 20px;
    color: #ef8172
    
}

.icons:hover{
    color: #ff4c68
}

#testimonials, #press{
    text-align: center;
    background-color: #ef8172;
    color:#fff 
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin:20px
}

.carousel-item{
    padding: 7% 15%;
}

#press{
    padding-bottom: 3%;
}

.press-logo{
    margin: 20px 20px 50px;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

.cta-title{
    color: #fff;
    font-weight: bold;
    font-size: 3.5rem;
}

#footer{
    background-color: #fff;
    text-align: center;
    padding: 2% 15%
}

.footer-icons{
    font-size: 2rem;
    padding: 5% 0 1%;
}

.company{
    padding: 0 1%
}

@media(max-width: 1028px){
    #title{
        text-align: center;
    }
    .iphone{
        position: static;
        transform: rotate(0);
    }
}